<%- includes('layout'); %>
      <div class='author-list'>
        <h1><%= title %></h1>
        <ul>
          <%if (Object.keys(author_list).length > 0) { %>
            <% author_list.forEach((author) => { %>
              <li>
                <a href=<%= author.id %><%= author.firstName %><%= author.lastName %></a>
                <br>
                <p><%= author.bornOn %> - <%= author.diedOn %></p>
              </li>
            <%}) %>
          <%} else { %>
              <p>There are no authors</p>
          <%} %>
        </ul>
      </div>
    </div>
  </body>
</html>
