<%- include('layout'); %>        
      <div class='block-content'>
        <h1><%= title %></h2>
        <p>Welcome to Local Library, a basic Express website developed as a tutorial.</p>
        <%if error { %>
          <p>Error getting dynamic content.</p>
        <%} else { %>
          <p>The library has the following record counts:</p>
          <br><br>
          <ul>
            <li><b>Books:</b><%= data.book_count%></li>
            <li><b>Copies:</b><%= data.book_instance_count%></li>
            <li><b>Copies available:</b><%= data.book_instance_available_count%></li>
            <li><b>Authors:</b><%= data.author_count%></li>
            <li><b>Genres:</b><%= data.genre_count%></li>
          </ul>
      </div>
    </div>
  </body>
</html>
